{% extends "contact/base.html" %}

{% block index_content %}

    <div id="show-content">

        <h1>Details of {{ contact_details.last_name}}</h1>
        <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <p>{{ contact_details.last_name}}, {{ contact_details.first_name }}</p>
            <p>{{ contact_details.email_address }}</p>
            <p>{{ contact_details.phone_number }}</p>
            <p>{{ contact_details.postal_address }}</p>
        </div>
        <div class="col-xs-6 col-md-4">
            {% if contact_details.profile_picture%}
                <img src="{{ contact_details.profile_picture.url }}" width="150" />
            {% else %}
                <img src="/media/no_image.png" width="150" />
            {% endif %}
        </div>
        </div>

    </div>

{% endblock %}